In [8]:
import pandas as pd
import numpy as np
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt

In [3]:
raw = pd.read_excel('연소득과주택소유.xlsx')

In [5]:
data = raw.copy()

In [6]:
data

    Record  Income  House
0        1      12      0
1        2      18      0
2        3      21      0
3        4      22      0
4        5      22      0
..     ...     ...    ...
95      96      93      1
96      97      93      1
97      98      94      1
98      99      95      1
99     100      95      1

[100 rows x 3 columns]

In [10]:
model = ols('House ~ Income', data=data).fit()

In [12]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  House   R-squared:                       0.714
Model:                            OLS   Adj. R-squared:                  0.712
Method:                 Least Squares   F-statistic:                     245.2
Date:                Mon, 24 Jan 2022   Prob (F-statistic):           2.03e-28
Time:                        22:58:25   Log-Likelihood:                -9.7372
No. Observations:                 100   AIC:                             23.47
Df Residuals:                      98   BIC:                             28.68
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.5625      0.075     -7.520      0.000      -0.711      -0.414
Income         0.0175      0.001     15.658      0.000       0.015       0.020
==============================================================================
Omnibus:                        7.077   Durbin-Watson:                   1.840
Prob(Omnibus):                  0.029   Jarque-Bera (JB):                6.567
Skew:                          -0.550   Prob(JB):                       0.0375
Kurtosis:                       3.604   Cond. No.                         185.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.