In [3]:
import pandas as pd
import numpy as np

In [33]:
data = pd.read_spss('loan_roc.sav')

In [53]:
e1_train = [72,50,80,66,50,33,58,96,65,39,57,61,43,45,52]
e2_train = [87,88,67,76,82,87,85,64,35,86,66,80,75,51,60]
f_train = [0,0,0,0,0,0,0,0,1,1,0,0,1,1,1]
train_data = pd.DataFrame(columns=['E1', 'E2', 'F'])
train_data['E1'] = e1_train
train_data['E2'] = e2_train
train_data['F'] = f_train
train_data

    E1  E2  F
0   72  87  0
1   50  88  0
2   80  67  0
3   66  76  0
4   50  82  0
5   33  87  0
6   58  85  0
7   96  64  0
8   65  35  1
9   39  86  1
10  57  66  0
11  61  80  0
12  43  75  1
13  45  51  1
14  52  60  1

In [54]:
e1_test = [44,38,83,67,49]
e2_test = [82,87,68,59,48]
f_test = [0,1,0,0,1]
test_data = pd.DataFrame(columns=['E1', 'E2', 'F'])
test_data['E1'] = e1_test
test_data['E2'] = e2_test
test_data['F'] = f_test
test_data

   E1  E2  F
0  44  82  0
1  38  87  1
2  83  68  0
3  67  59  0
4  49  48  1

### 중심과의 거리를 이용하는 방법

In [55]:
# 클래스별 중심: 클래스 0
train_data[train_data.F==0].mean()

E1    62.3
E2    78.2
F      0.0
dtype: float64

In [56]:
# 클래스별 중심: 클래스 1
train_data[train_data.F==1].mean()

E1    48.8
E2    61.4
F      1.0
dtype: float64

In [57]:
for col in train_data.values:
    print(col)

[72 87  0]
[50 88  0]
[80 67  0]
[66 76  0]
[50 82  0]
[33 87  0]
[58 85  0]
[96 64  0]
[65 35  1]
[39 86  1]
[57 66  0]
[61 80  0]
[43 75  1]
[45 51  1]
[52 60  1]

In [58]:
pred = []
pred_data = train_data
avg_0 = pred_data[pred_data.F==0].mean()[:-1]
avg_1 = pred_data[pred_data.F==1].mean()[:-1]
for e1, e2, f in pred_data.values:
    d_0 = np.sqrt((e1 - avg_0.E1)**2 + (e2 - avg_0.E2)**2)
    d_1 = np.sqrt((e1 - avg_1.E1)**2 + (e2 - avg_1.E2)**2)
    if d_0 > d_1:
        pred.append(1)
    else:
        pred.append(0)
pred

[0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1]

In [59]:
train_data['pred'] = pred
train_data

    E1  E2  F  pred
0   72  87  0     0
1   50  88  0     0
2   80  67  0     0
3   66  76  0     0
4   50  82  0     0
5   33  87  0     1
6   58  85  0     0
7   96  64  0     0
8   65  35  1     1
9   39  86  1     0
10  57  66  0     1
11  61  80  0     0
12  43  75  1     1
13  45  51  1     1
14  52  60  1     1

In [60]:
len(train_data[train_data.F==train_data.pred]) / len(train_data)

0.8

In [61]:
pred = []
pred_data = test_data
# avg_0 = pred_data[pred_data.F==0].mean()[:-1]
# avg_1 = pred_data[pred_data.F==1].mean()[:-1]
for e1, e2, f in pred_data.values:
    d_0 = np.sqrt((e1 - avg_0.E1)**2 + (e2 - avg_0.E2)**2)
    d_1 = np.sqrt((e1 - avg_1.E1)**2 + (e2 - avg_1.E2)**2)
    if d_0 > d_1:
        pred.append(1)
    else:
        pred.append(0)
pred

[0, 0, 0, 1, 1]

In [62]:
test_data['pred'] = pred
test_data

   E1  E2  F  pred
0  44  82  0     0
1  38  87  1     0
2  83  68  0     0
3  67  59  0     1
4  49  48  1     1

In [63]:
len(test_data[test_data.F==test_data.pred]) / len(test_data)

0.6

### 회귀를 이용하는 방법

In [65]:
import statsmodels.formula.api as sm

In [69]:
model = sm.ols('F ~ E1+E2', data=train_data).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      F   R-squared:                       0.599
Model:                            OLS   Adj. R-squared:                  0.532
Method:                 Least Squares   F-statistic:                     8.946
Date:                Tue, 08 Feb 2022   Prob (F-statistic):            0.00419
Time:                        00:20:48   Log-Likelihood:                -3.1586
No. Observations:                  15   AIC:                             12.32
Df Residuals:                      12   BIC:                             14.44
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      2.9106      0.615      4.730      0.000       1.570       4.251
E1            -0.0173      0.006     -3.075      0.010      -0.030      -0.005
E2            -0.0217      0.006     -3.619      0.004      -0.035      -0.009
==============================================================================
Omnibus:                        0.721   Durbin-Watson:                   2.180
Prob(Omnibus):                  0.697   Jarque-Bera (JB):                0.451
Skew:                           0.394   Prob(JB):                        0.798
Kurtosis:                       2.684   Cond. No.                         669.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [70]:
model.params

Intercept    2.910559
E1          -0.017306
E2          -0.021721
dtype: float64

In [74]:
train_data['reg_pred'] = model.params.Intercept + model.params.E1*train_data.E1 + model.params.E2*train_data.E2
train_data

    E1  E2  F  pred  reg_pred
0   72  87  0     0 -0.225193
1   50  88  0     0  0.133814
2   80  67  0     0  0.070782
3   66  76  0     0  0.117574
4   50  82  0     0  0.264141
5   33  87  0     1  0.449734
6   58  85  0     0  0.060531
7   96  64  0     0 -0.140947
8   65  35  1     1  1.025444
9   39  86  1     0  0.367620
10  57  66  0     1  0.490537
11  61  80  0     0  0.117219
12  43  75  1     1  0.537329
13  45  51  1     1  1.024023
14  52  60  1     1  0.707392

In [87]:
train_data['reg_F'] = (train_data.reg_pred > train_data.groupby('F').mean().mean().reg_pred).astype(int)

In [89]:
len(train_data[train_data.F==train_data.reg_F]) / len(train_data)

0.8

In [91]:
test_data['reg_pred'] = model.params.Intercept + model.params.E1*test_data.E1 + model.params.E2*test_data.E2
test_data['reg_F'] = (test_data.reg_pred > train_data.groupby('F').mean().mean().reg_pred).astype(int)

In [92]:
len(test_data[test_data.F==test_data.reg_F]) / len(test_data)

0.6